<section class="containerAboutUs">

    <h2 class="titleAboutUs" id="vinwho">QUIÉNES SOMOS</h2>

    <article>
        <img src="./assets/images/macarena.jpeg" class="picture">
        <h3 class="name">Macarena Peña</h3>
        <p class="itemAbout">Ingeniera civil con MBA y experiencia en la gestión de proyectos de ingeniería. Destaca
            por su proactividad, disciplina y compromiso. Asertiva, sociable y con un buen manejo de las habilidades
            interpersonales.</p>
        <nav>
            <ul class="socialMedia">

                <li><i class="fab fa-twitter-square" alt="twitter"><a href="#"></a></i></li>
                <li><i class="fab fa-linkedin" alt="Linkedin"><a href="#"></a></i></li>
                <li><i class="fab fa-github" alt="github"><a href="#"></a></i></li>

            </ul>
        </nav>
    </article>

    <article>
        <img src="./assets/images/barbara.jpg" class="picture">
        <h3 class="name">Bárbara Ruiz</h3>
        <p class="itemAbout">Técnico senior en RRHH, especializada en resolución de conflictos; así como la gestión
            y organización de grandes equipos de trabajo. Curiosa, asertiva y observadora. Destacan sus dotes en
            mediación y su capacidad de reconocer el trabajo bien desarrollado. </p>
        <nav>
            <ul class="socialMedia">

                <li><i class="fab fa-linkedin" alt="Linkedin"><a href="#"></a></i></li>
                <li><i class="fab fa-github" alt="github"><a href="#"></a></i></li>

            </ul>
        </nav>
    </article>

    <article>
        <img src="./assets/images/maria.jpg" class="picture">
        <h3 class="name">María Guerrero</h3>
        <p class="itemAbout">Realizadora audiovisual con experiencia en prensa digital, redacción, diseño y montaje
            de vídeo. Capacidad resolutiva, comunicativa y aptitud proactiva. Sobresale por su trabajo minucioso y
            creatividad en la resolución de conflictos.</p>
        <nav>
            <ul class="socialMedia">

                <li><i class="fab fa-twitter-square" alt="twitter"><a href="#"></a></i></li>
                <li><i class="fab fa-linkedin" alt="Linkedin"><a href="#"></a></i></li>
                <li><i class="fab fa-instagram-square" alt="Instagram"><a href="#"></a></i></li>
                <li><i class="fab fa-github" alt="github"><a href="#"></a></i></li>

            </ul>
        </nav>
    </article>

    <article>
        <img src="./assets/images/denise.jpg" class="picture">
        <h3 class="name">Denise Overbeck Troglio</h3>
        <p class="itemAbout">Con formación en Secretariado Ejecutivo, y experiencia en empresas de auditoría y
            educación.
            Detallista, observadora y proactiva. Capacidad de trabajo en equipo y buen relacionamiento
            interpersonal.</p>
        <nav>
            <ul class="socialMedia">
                <li><i class="fab fa-linkedin" alt="Linkedin"><a href="#"></a></i></li>
                <li><i class="fab fa-github" alt="github"><a href="#"></a></i></li>

            </ul>
        </nav>
    </article>

    <article>
        <img src="./assets/images/claudia.jpg" class="picture">
        <h3 class="name">Claudia Berrocal</h3>
        <p class="itemAbout">Abogada con experiencia tanto en el área de asesoría jurídica como en materia de protección
            de datos.
            Predomina su proactividad y su capacidad de resolución de conflictos. Multidisciplinar, comunicativa
            y con una gran atención al detalle.</p>
        <nav>
            <ul class="socialMedia">

                <li><i class="fab fa-twitter-square" alt="twitter"><a href="#"></a></i></li>
                <li><i class="fab fa-linkedin" alt="Linkedin"><a href="#"></a></i></li>
                <li><i class="fab fa-github" alt="github"><a href="#"></a></i></li>

            </ul>
        </nav>
    </article>

</section>