.hojamain {
  font-family: Rubik; /* fuente no instalada*/
  display: flex;
  flex-flow: column;
  background: #d9e78b;
  justify-items: center;
}
mainbox {
  border: purple 4px solid;
}

.bannertitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  height: 60px;
  background-color: #099d8d;
  color: white;
  text-transform: uppercase;
}
.navegationmenu {
  height: 45px;
  color: white;
  background-color: aqua;
  display: flex;
  flex-direction: row;
  flex-grow: initial;
  flex-flow: wrap;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
}
.navitem1 {
  flex-direction: row;
  padding: center;
}
/* .mainimg {
}
.parrafointro {
} */

:root {
  --brand-color: #14d9c4;
}

.boxequipo {
  width: auto;
  height: auto;
  padding: 30px 15px;
  background-color: #fff;
}

.equipo {
  color: var(--brand-color);
  width: auto;
  height: auto;
  margin: 0 99.5px 15px 101.5px;
  font-family: "rubik", sans-serif;
  font-size: 24px;
  line-height: 45px;
  text-align: center;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

.equipolorem {
  color: #54585a;
  width: auto;
  margin: 15px 0 0;
  font-family: "opensans", sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}
.box-strenghts-weaknesses {
  width: 320px;
  height: 579px;
  margin: 504px 0 0;
  padding: 30px 15px 45px;
  background-color: #b8b8b9;
  padding: 30px 15px 45px;
}

.text {
  width: 290px;
  height: 192px;
  margin: 45px 0 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  color: #54585a;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

.title {
  width: auto;
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 2.05;
  text-align: center;
  color: #099d8d;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

** Pie de pagina ** nav,
li {
  width: 114px;
  height: 60px;
  color: #54585a;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  line-height: 1, 43;
  margin: 20 29 30px;
  letter-spacing: normal;
  font-stretch: normal;
  list-style-type: none;
  opacity: 0, 75;
}

.nombre-grupo {
  color: #b8b8b9;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  margin: 0 0 20px;
  line-height: 1, 43;
  width: 172px;
  height: 20px;
}

a {
  text-decoration: none;
  color: #54585a;
}

.imagen-adalab {
  width: 115, 9px;
  height: 45px;
  margin: 30px 28, 1px 0 28px;
}
